@using KADES.Models.Maintenance;
@model RFJabatan




<div class="modal fade" id="upJabatan-@Model.ID">
    <div class="mdl_new modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                @*<div class="login_form">*@
                <form asp-action="UpJabatan" method="POST">
                    <fieldset>
                        <input id="ID" asp-for="@Model.ID" hidden />
                        <div class="field_form">
                            <label class="label_field  control-label">Kode Jabatan</label>
                            <input id="KODE_JABATAN" asp-for="@Model.KODE_JABATAN" type="text" class="form-control form-control-sm form-control-user"  readonly/>
                        </div>
                        <div class="field_form">
                            <label class="label_field  control-label">Jabatan</label>
                            <input id="JABATAN" asp-for="@Model.JABATAN" type="text" class="form-control form-control-sm form-control-user" />
                        </div>
                        <div class="field_form">
                            <label class="label_field  control-label">Tipe Jabatan</label>
                            <input id="KODE_TYPE" asp-for="@Model.KODE_TYPE" type="text" class="form-control form-control-sm form-control-user" />
                        </div>
                        <input id="ACTIVE" asp-for="@Model.ACTIVE" hidden />
                    </fieldset>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-success">Save</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>

                @*</div>*@
                <!-- Modal footer -->
            </div>
        </div>
    </div>
    <!-- end model popup -->
</div>