@using KADES.Models.Maintenance;
@{
    ViewData["Title"] = "Parameter Maintenance";

}

@model MaintenanceModels;


<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- table section -->
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Mintenance Parameter @ViewData["Title"]</h2>
                        <span class="plus_green_bt_add"><a data-toggle="modal" data-target="#myModal">+</a></span>

                    </div>

                </div>
                <div class="table_section padding_infor_info">
                    <div class="table-responsive-sm">
                        <table id="dataTable" class="table" style="width:100%">
                            <thead class="thead-light" >
                                <tr>
                                    <th width="150px">#</th>
                                    <th>Agama</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListRfAgama)
                                {
                                    <tr>
                                        <td>
                                            <div class="btn-group">

                                                <form asp-action="DelRfAgama" asp-route-id="@item.ID" id="DelRfAgama-@item.ID" method="post">
                                                    <input type="button" class="btn btn-sm btn-sm  cur-p btn-outline-info" data-toggle="modal" data-target="@("#upAgama-"+item.ID)" data-url="@Url.Action($"upAgama/{item.ID}")" value="Update" />
                                                    <input type="button" class="btn btn-sm btn-sm  cur-p btn-outline-secondary" value="Delete" onclick="DeleteAgama(@item.ID)" />
                                                </form>
                                            </div>
                                            @await Html.PartialAsync("_UpRfAgama",item)
                                        </td>
                                        @*<td>@item.ID</td>*@
                                        <td>@item.AGAMA</td>
                                        <td>
                                            @{
                                                var ISACTIVE = "";
                                                
                                                if (item.ACTIVE)
                                                {
                                                    ISACTIVE = "Active";
                                                    @ISACTIVE
                                                    ;
                                                }
                                                else
                                                {
                                                    ISACTIVE = "Non Active";
                                                    @ISACTIVE
                                                    ;
                                                }
                                            }
                                        </td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- model popup -->
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="mdl modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    @*<div class="login_form">*@
                    <form asp-action="AddAgama" method="POST">
                        <fieldset>
                            
                            <div class="field_form">
                                <label class="label_field  control-label">Agama</label>
                                <input id="AGAMA" asp-for="@Model.RfAgama.AGAMA" type="text" class="form-control form-control-sm form-control-user" />
                            </div>

                            <div class="field_form">
                                <label class="label_field  control-label">Active</label>
                                <input id="ACTIVE" asp-for="@Model.RfAgama.ACTIVE" type="checkbox" class="form-control-user" />
                            </div>
                            
                        </fieldset>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-sm btn-success">Save</button>
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>

                    @*</div>*@
                    <!-- Modal footer -->
                </div>
            </div>
        </div>
        <!-- end model popup -->
    </div>

</div>

<script type="text/javascript">

    function DeleteAgama(ID) {
        if (window.confirm("Delete This Data?")) {
            $('#DelRfAgama-' + ID).submit();
        }

    }

</script>
