@using KADES.Models.Account;

@{
    ViewData["Title"] = "User Maintenance";

}

@model AccountModels;


<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- table section -->
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Buku Kegiatan Karang Taruna</h2>
                        <span class="plus_green_bt_add"><a data-toggle="modal" data-target="#myModal">+</a></span>

                    </div>

                </div>
                <div class="table_section padding_infor_info">
                    <div class="table-responsive-sm">
                        <table id="dataTable" class="table" style="width:100%">
                            <thead class="thead-light" style="text-align:center">
                                <tr>
                                    <th>#</th>
                                    <th>Group Id</th>
                                    <th>User Id</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListVW_Users)
                                {
                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <form asp-action="DeleteUsers" asp-route-id="@item.ID" id="DelUsers-@item.ID" method="post">
                                                    <input type="button" class="btn btn-sm  cur-p btn-outline-info" data-toggle="modal" data-target="@("#upUsers-"+item.USERID)" data-url="@Url.Action($"upUsers/{item.USERID}")" value="Update" />
                                                    <input type="button" class="btn btn-sm  cur-p btn-outline-secondary" value="Delete" onclick="DeleteUsers(@item.ID)" />
                                                </form>
                                            </div>
                                            @await Html.PartialAsync("_UpdateUsers",item)
                                        </td>
                                        <td>@item.GROUPID</td>
                                        <td>@item.USERID</td>
                                        <td>@item.USERNAME</td>
                                        <td>@item.EMAIL</td>
                                        @*<td>
                                    @{
                                    var ISACTIVE = "";

                                    if (item.ACTIVE)
                                    {
                                    ISACTIVE = "Active";
                                    @ISACTIVE
                                    ;
                                    }
                                    else
                                    {
                                    ISACTIVE = "Non Active";
                                    @ISACTIVE
                                    ;
                                    }
                                    }
                                    </td>*@

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- model popup -->
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="mdl modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    @*<div class="login_form">*@
                    <form asp-action="AddUsers" method="POST">
                        <fieldset>
                            <div class="field_form">
                                <label class="label_field">Group</label>
                                <select class="form-control form-control-user" asp-items="@ViewBag.ddlGroup" asp-for="@Model.RFUsers.GROUPID"></select>
                            </div>
                            <div class="field_form">
                                <label class="label_field">User Id</label>
                                <input id="USERID" asp-for="@Model.RFUsers.USERID" type="text" class="form-control form-control-user" />
                            </div>
                            <div class="field_form">
                                <label class="label_field">Username</label>
                                <input id="USERNAME" asp-for="@Model.RFUsers.USERNAME" type="text" class="form-control form-control-user" />
                            </div>
                            <div class="field_form">
                                <label class="label_field">Password</label>
                                <input id="PASSWORD" asp-for="@Model.RFUsers.PASSWORD" type="text" class="form-control form-control-user" />
                            </div>
                            <div class="field_form">
                                <label class="label_field">Email</label>
                                <input id="EMAIL" asp-for="@Model.RFUsers.EMAIL" type="email" class="form-control form-control-user" />
                            </div>
                        </fieldset>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>

                    @*</div>*@
                    <!-- Modal footer -->
                </div>
            </div>
        </div>
        <!-- end model popup -->
    </div>

</div>

<script type="text/javascript">

    function DeleteUsers(ID) {
        if (window.confirm("Delete This Data?")) {
            $('#DelUsers-' + ID).submit();
        }

    }

</script>
