@using KADES.Models.Pelayanan;

@{
    ViewData["Title"] = "Pelayanan Surat";
}

@model PelayananModels


<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- table section -->
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Log Surat Keluar</h2>
                        @*<form asp-action="DownloadExcel" method="post">*@
                        <span class="plus_green_bt_add"><a class="fa fa-download" style="font-size:15px" asp-controller="Surat" asp-action="DownloadExcel" asp-route-PERIODFROM="@Model.searchBydate.PERIODFROM" asp-route-PERIODTO="@Model.searchBydate.PERIODTO"></a></span>
                            @*<span class="plus_green_bt_add"> <a class="fa fa-download" style="font-size:15px" onclick="exportToExcel()"><input type="button" onclick="exportToExcel()" /></a></span>*@
                        @*</form>*@
                    </div>
                </div>


                <div class="table_section padding_infor_info">
                    <div class="box-body">
                        <div id="divSearchList" class="table-responsive">
                            <div class="divRectangle" id="rectangle" style="width:50%">
                                <form method="get" action="@Url.Action("LogSurat", "Surat")">
                                    <div class="form-group row top-buffer">
                                        <label class="control-label col-sm-5">Tanggal Generate</label>
                                        <div class="col-6">
                                            <input type="date" class="form-control form-control-sm form-control-user" asp-for="@Model.searchBydate.PERIODFROM"/>
                                                <span>To</span>
                                            <input type="date" class="form-control form-control-sm form-control-user" asp-for="@Model.searchBydate.PERIODTO" />
                                        </div>
                                    </div>

                                    <div class="MenuSearch" style="text-align:center;padding-top:12px">
                                        <button class="btn btn-sm btn-sm btn-outline-info" type="submit"><i class="glyphicon glyphicon-search"></i> <span>Search</span></button> <span></span>
                                        <button class="btn btn-sm btn-sm btn-outline-warning" onclick="clearSearch()" type="button"><i class="glyphicon glyphicon-refresh"></i>  <span>Clear</span></button> <span></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div class="table-responsive-sm">
                        <table id="dataTable" class="table" style="width:100%">
                            <thead class="thead-light">
                                <tr>
                                    <th>Nama Surat</th>
                                    <th>Nomor Surat</th>
                                    <th>Generate By</th>
                                    <th>Tanggal Generate</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListVW_LogSurat)
                                {

                                    <tr>
                                        <td>@item.NAMA_SURAT</td>
                                        <td>@item.NO_SURAT</td>
                                        <td>@item.GENERATE_BY</td>
                                        <td>@item.GENERATE_DATE.ToString("dd/MM/yyyy")</td>
                                    </tr>


                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    function exportToExcel() {
        console.log("test");
        $('#DownloadExcel).submit();
    }

    function clearSearch() {
        ClearDataInDIV("divSearchList");
    }

</script>
