@using KADES.Models.Pelayanan;
@model PelayananModels;

@{
    ViewData["Title"] = "Pelayanan Surat";

}



<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- table section -->
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Template Surat</h2>
                        <span class="plus_green_bt_add"><a data-toggle="modal" data-target="#myModal">+</a></span>

                    </div>

                </div>
                <div class="table_section padding_infor_info">
                    <div class="table-responsive-sm">
                        <table id="dataTable" class="table" style="width:100%">
                            <thead class="thead-light" >
                                <tr>
                                    <th>Action</th>
                                    <th>Kode Surat</th>
                                    <th>Nama Surat</th>
                                    <th>Created By</th>
                                    <th>Created Date</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListTemplateSurat)
                                {
                                    <tr>
                                        <td>
                                            <div class="btn-group" >

                                                <form asp-action="DeleteTempSurat" asp-route-id="@item.ID" id="DelTempSurat-@item.ID" method="post">
                                                    @*<input type="button" class="btn btn-sm btn-sm  cur-p btn-outline-success" value="Print" data-toggle="modal" data-target="@("#printSurat-"+item.ID)" data-url="@Url.Action($"PrintSurat/{item.ID}")" />*@
                                                    <input type="button" class="btn btn-sm btn-sm  cur-p btn-outline-info" data-toggle="modal" data-target="@("#updateTempSurat-"+item.ID)" data-url="@Url.Action($"UpdateTempSurat/{item.ID}")" value="Update" />
                                                    <input type="button" class="btn btn-sm btn-sm  cur-p btn-outline-secondary" value="Delete" onclick="DeleteTempsurat(@item.ID)" />

                                                </form>
                                                <form asp-action="PrintSurat" asp-route-id="@item.ID" id="PrintSurat" method="post" style="margin-left:3px">
                                                    <input type="submit" class="btn btn-sm btn-sm  cur-p btn-outline-success" value="Print" />
                                                </form>
                                            </div>
                                            @await Html.PartialAsync("_UpdateTempSurat",item)
                                            @*@await Html.PartialAsync("_PrintSurat",item)*@

                                        </td>
                                        <td>@item.NO_SURAT</td>
                                        <td>@item.NAMA_SURAT</td>
                                        <td>@item.CREATED_BY</td>
                                        <td>@item.CREATED_DATE.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- model popup -->
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="mdl modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Tamba Data</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    @*<div class="login_form">*@
                    <form asp-action="AddTempSurat" method="POST" enctype="multipart/form-data">
                        <fieldset>
                            <div class="field_form">
                                <label class="label_field  control-label">Kode Surat</label>
                                <input id="NO_SURAT" asp-for="@Model.TemplateSurat.NO_SURAT" type="text" class="form-control form-control-sm form-control-user" required />
                            </div>
                            <div class="field_form">
                                <label class="label_field  control-label">Nama Surat</label>
                                <input id="NAMA_SURAT" asp-for="@Model.TemplateSurat.NAMA_SURAT" type="text" class="form-control form-control-sm form-control-user" required />
                            </div>
                            <div class="field_form">
                                <label class="label_field  control-label">Upload Surat</label>
                                <input id="FILE_UPLOAD" type="file" asp-for="@Model.TemplateSurat.PATH_FILE" name="FILE_UPLOAD" accept=".doc,.docx" class="form-control form-control-sm form-control-user" multiple />
                            </div>

                        </fieldset>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-sm btn-success">Save</button>
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>

                    @*</div>*@
                    <!-- Modal footer -->
                </div>
            </div>
        </div>
        <!-- end model popup -->
    </div>

</div>

<script type="text/javascript">

    function DeleteTempsurat(ID) {
        if (window.confirm("Delete This Data?")) {
            $('#DelTempSurat-'+ID).submit();
        }
        
    }



</script>


