@using KADES.Models.Administrasi;
@{
    ViewData["Title"] = "Administrasi";

}

@model AdministrasiModels;


<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- table section -->
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Buku Data Penduduk</h2>
                        <span class="plus_green_bt_exp"><a class="fa fa-download" style="font-size:15px" asp-controller="Administration" asp-action="DownloadExcelSensus"></a></span>
                        <span class="plus_green_bt_add"><a data-toggle="modal" data-target="#myModal">+</a></span>

                    </div>

                </div>
                <div class="table_section padding_infor_info">
                    <div class="table-responsive-sm">
                        <table id="dataTable" class="table" style="width:100%">
                            <thead class="thead-light" style="text-align:center">
                                <tr>
                                    <th>Action</th>
                                    <th>NIK</th>
                                    <th>Nama</th>
                                    <th>No.KK</th>
                                    <th>Alamat</th>
                                    <th>Pendidikan</th>
                                    <th>Umur</th>
                                    <th>Pekerjaan</th>
                                    <th>Status Kawin</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListVW_Penduduk)
                                {
                                    <tr>
                                        <td>
                                            <div>

                                                <input type="button" class="btn btn-sm btn-sm  cur-p btn-outline-info" data-toggle="modal" data-target="@("#updatePenduduk-"+item.ID)" data-url="@Url.Action($"UpdatePenduduk/{item.ID}")" value="Update" />
                                            </div>
                                            @await Html.PartialAsync("_UpdatePenduduk",item)
                                        </td>
                                        <td>@item.NIK</td>
                                        <td>@item.NAMA</td>
                                        <td>@item.KK</td>
                                        <td>@item.DUSUN, RT @item.RT.ToString(), RW @item.RW.ToString()</td>
                                        <td>@item.PENDIDIKAN</td>
                                        <td>
                                            @{
                                                var UMUR = DateTime.Now.Year - item.DOB.Year;
                                                @UMUR
                                                ;
                                            }
                                        </td>
                                        <td>@item.PEKERJAAN</td>
                                        <td>
                                            @{
                                                var StatusKawin = "";
                                                if (item.ID_KAWIN.Equals(0))
                                                {
                                                    StatusKawin = "Kawin";
                                                    @StatusKawin
                                                    ;

                                                }
                                                else
                                                {
                                                    StatusKawin = "Belum Kawin";
                                                    @StatusKawin
                                                    ;
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- model popup -->
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="mdl_new modal-dialog" style="max-width:80%">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    @*<div class="login_form">*@
                    <form asp-action="AddPenduduk" method="POST">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="field_form">
                                        <label class="label_field  control-label">No. KK</label>
                                        <input id="KK" asp-for="@Model.Penduduk.KK" type="number" maxlength="16" class="form-control form-control-sm form-control-user" required />
                                    </div>
                                    <div class="field_form">
                                        <label class="label_field  control-label">NIK</label>
                                        <input id="NIK" asp-for="@Model.Penduduk.NIK" type="number" maxlength="16" class="form-control form-control-sm form-control-user" required />
                                    </div>
                                    <div class="field_form">
                                        <label class="label_field  control-label">Nama</label>
                                        <input id="NAMA" asp-for="@Model.Penduduk.NAMA" type="text" class="form-control form-control-sm form-control-user" required />
                                    </div>

                                    <div class="field_form">
                                        <label class="label_field  control-label">Jenis Kelamin</label>
                                        <select class="form-control form-control-sm form-control-user" asp-items="@ViewBag.ddlJK" asp-for="@Model.Penduduk.JENIS_KELAMIN"></select>
                                    </div>

                                    <div class="field_form">
                                        <label class="label_field  control-label">Hubungan Dalam Keluarga</label>
                                        <select class="form-control form-control-sm form-control-user" asp-items="@ViewBag.ddlDlmKeluarga" asp-for="@Model.Penduduk.ID_DLMKELUARGA"></select>
                                    </div>

                                    <div class="field_form">
                                        <label class="label_field  control-label">No Telp</label>
                                        <input id="NO_TELP" asp-for="@Model.Penduduk.NO_TELP" type="text" class="form-control form-control-sm form-control-user" required />
                                    </div>

                                </div>

                                <div class="col-sm-4">


                                    <div class="field_form">
                                        <label class="label_field  control-label">No. Akta Kelahiran</label>
                                        <input id="AKTA" asp-for="@Model.Penduduk.NO_AKTA" type="number" maxlength="16" class="form-control form-control-sm form-control-user" />
                                    </div>

                                    <div class="field_form">
                                        <label class="label_field  control-label">Tempat Lahir</label>
                                        <input id="POB" asp-for="@Model.Penduduk.POB" type="text" class="form-control form-control-sm form-control-user" required />
                                    </div>

                                    <div class="field_form">
                                        <label class="label_field  control-label">Tanggal Lahir</label>
                                        <input type="date" asp-for="@Model.Penduduk.DOB" class="form-control form-control-sm form-control-user" required />
                                    </div>

                                    <div class="field_form">
                                        <label class="label_field  control-label">Kampung</label>
                                        <select class="form-control form-control-sm form-control-user" asp-items="@ViewBag.ddlDusun" asp-for="@Model.Penduduk.ID_DUSUN"></select>
                                    </div>
                                    <div class="field_form">
                                        <label class="label_field  control-label">RT</label>
                                        <input id="RT" asp-for="@Model.Penduduk.RT" type="number" class="form-control form-control-sm form-control-user" required />
                                    </div>
                                    <div class="field_form">
                                        <label class="label_field  control-label">RW</label>
                                        <input id="RW" asp-for="@Model.Penduduk.RW" type="number" class="form-control form-control-sm form-control-user" required />
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="field_form">
                                        <label class="label_field  control-label">Agama</label>
                                        <select class="form-control form-control-sm form-control-user" asp-items="@ViewBag.ddlAgama" asp-for="@Model.Penduduk.ID_AGAMA"></select>
                                    </div>
                                    <div class="field_form">
                                        <label class="label_field  control-label">Status Perkawinan</label>
                                        <select class="form-control form-control-sm form-control-user" asp-items="@ViewBag.ddlStatusKawin" asp-for="@Model.Penduduk.ID_KAWIN"></select>
                                    </div>

                                    <div class="field_form">
                                        <label class="label_field  control-label">Pendidikan</label>
                                        <select class="form-control form-control-sm form-control-user" asp-items="@ViewBag.ddlRfPendidikan" asp-for="@Model.Penduduk.ID_PENDIDIKAN"></select>
                                    </div>
                                    <div class="field_form">
                                        <label class="label_field  control-label">Pekerjaan</label>
                                        <select class="form-control form-control-sm form-control-user" asp-items="@ViewBag.ddlRfPekerjaan" asp-for="@Model.Penduduk.ID_PEKERJAAN"></select>
                                    </div>
                                    <div class="field_form">
                                        <label class="label_field  control-label">Nama Ayah</label>
                                        <input id="AYAH" asp-for="@Model.Penduduk.NAMA_AYAH" type="text" class="form-control form-control-sm form-control-user" />
                                    </div>
                                    <div class="field_form">
                                        <label class="label_field  control-label">Nama Ibu</label>
                                        <input id="IBU" asp-for="@Model.Penduduk.NAMA_IBU" type="text" class="form-control form-control-sm form-control-user" />
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-sm btn-success">Save</button>
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>

                    @*</div>*@
                    <!-- Modal footer -->
                </div>
            </div>
        </div>
        <!-- end model popup -->
    </div>


</div>

