@using KADES.Models.Administrasi;
@{
    ViewData["Title"] = "Administrasi";

}

@model AdministrasiModels;


<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- table section -->
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Buku Anggota PKK</h2>
                        <span class="plus_green_bt_add"><a data-toggle="modal" data-target="#myModal">+</a></span>

                    </div>

                </div>
                <div class="table_section padding_infor_info">
                    <div class="table-responsive-sm">
                        <table id="dataTable" class="table" style="width:100%">
                            <thead class="thead-light" style="text-align:center">
                                <tr>
                                    <th>#</th>
                                    <th>Nama</th>
                                    <th>Jenis Kelamin</th>
                                    <th>Jabatan</th>
                                    <th>No Telp</th>
                                    <th>Alamat</th>
                                    <th>Tanggal Pengangkatan</th>
                                    <th>Tanggal Pemberhentian</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListVW_PKK)
                                {
                                    <tr>
                                        <td>
                                            <div>

                                                <input type="button" class="btn btn-sm  cur-p btn-outline-info" data-toggle="modal" data-target="@("#updatePKK-"+item.ID)" data-url="@Url.Action($"UpdatePKK/{item.ID}")" value="Update" />
                                                <input type="button" class="btn btn-sm  cur-p btn-outline-secondary" data-toggle="modal" data-target="@("#inactivePKK-"+item.ID)" data-url="@Url.Action($"InactivePKK/{item.ID}")" value="Inactive" />

                                            </div>
                                            @await Html.PartialAsync("_UpdatePKK",item)
                                            @await Html.PartialAsync("_InactivePKK",item)
                                        </td>
                                        @*<td style="display:none">@item.KODE_JABATAN</td>*@
                                        <td>@item.NAMA</td>
                                        <td>
                                            @{
                                                var JENIS_KELAMIN = "";
                                                if (item.JENIS_KELAMIN)
                                                {
                                                    JENIS_KELAMIN = "Laki - Laki";
                                                    @JENIS_KELAMIN
                                                    ;

                                                }
                                                else
                                                {
                                                    JENIS_KELAMIN = "Perempuan";
                                                    @JENIS_KELAMIN
                                                    ;
                                                }
                                            }
                                        </td>
                                        <td>@item.JABATAN</td>
                                        <td>@item.NO_TELP</td>
                                        <td>@item.ALAMAT</td>
                                        <td>@item.TGL_PENGANGKATAN.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            @{
                                                var TGL_BERHENTI = item.TGL_PEMBERHENTIAN;
                                                string TEXT = "-";

                                                if (TGL_BERHENTI != null)
                                                {
                                                    @string.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(TGL_BERHENTI))
                                                    ;
                                                }
                                                else
                                                {
                                                    @TEXT
                                                    ;
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- model popup -->
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="mdl_new modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    @*<div class="login_form">*@
                    <form asp-action="AddPKK" method="POST">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="field_form">
                                        <label class="label_field">Jabatan</label>
                                        <select class="form-control form-control-user" asp-items="@ViewBag.ddlJabatan" asp-for="@Model.PKK.KODE_JABATAN"></select>
                                    </div>
                                    <div class="field_form">
                                        <label class="label_field">Nama</label>
                                        <input id="NAMA" asp-for="@Model.PKK.NAMA" type="text" class="form-control form-control-user" />
                                    </div>
                                    <div class="field_form">
                                        <label class="label_field">Jenis Kelamin</label>
                                        <select class="form-control form-control-user" asp-items="@ViewBag.ddlJK" asp-for="@Model.PKK.JENIS_KELAMIN"></select>
                                        @*@Html.DropDownListFor(model => model.PKK.KODE_JABATAN, new SelectList(Model.ddlRFJabatan, "KODE_JABATAN", "JABATAN"), new { @class = "form-control form-control-user" })*@
                                    </div>
                                    <div class="field_form">
                                        <label class="label_field">NIK</label>
                                        <input id="NIK" asp-for="@Model.PKK.NIK" type="number" class="form-control form-control-user" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="field_form">
                                        <label class="label_field">No Telp</label>
                                        <input id="NO_TELP" asp-for="@Model.PKK.NO_TELP" type="text" class="form-control form-control-user" />
                                    </div>
                                    <div class="field_form">
                                        <label class="label_field">Alamat</label>
                                        <textarea id="ALAMAT" style="height:110px;margin-bottom:10px" class="form-control form-control-user" asp-for="@Model.PKK.ALAMAT"></textarea>
                                    </div>


                                    <div class="field_form">
                                        <label class="label_field">Tanggal Masuk</label>
                                        <input type="date" asp-for="@Model.PKK.TGL_PENGANGKATAN" class="form-control form-control-user" />
                                    </div>

                                </div>

                            </div>
                        </fieldset>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>

                    @*</div>*@
                    <!-- Modal footer -->   
                </div>
            </div>
        </div>
        <!-- end model popup -->
    </div>

</div>

