@using KADES.Models.Administrasi;
@model AdministrasiModels;

@{
    ViewData["Title"] = "Administrasi";
}



<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- table section -->
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Buku Realisasi Kegiatan</h2>
                        <span class="plus_green_bt_exp"><a class="fa fa-download" style="font-size:15px" asp-controller="Administration" asp-action="DownloadExcelRe" asp-route-PERIODFROM="@Model.AdmSearchBydate.PERIODFROM" asp-route-PERIODTO="@Model.AdmSearchBydate.PERIODTO"></a></span>
                        <span class="plus_green_bt_add"><a data-toggle="modal" data-target="#myModal">+</a></span>

                    </div>

                </div>
                <div class="table_section padding_infor_info">
                    <div class="box-body">
                        <div id="divSearchList" class="table-responsive">
                            <div class="divRectangle" id="rectangle" style="width:50%">
                                <form method="get" action="@Url.Action("RealisasiRAB", "Administration")">
                                    <div class="form-group row top-buffer">
                                        <label class="control-label col-sm-5">Tanggal Realisasi</label>
                                        <div class="col-6">
                                            <input type="date" id="PERIODFROM" class="form-control form-control-sm form-control-user" asp-for="@Model.AdmSearchBydate.PERIODFROM" />
                                            <span>To</span>
                                            <input type="date" id="PERIODTO" class="form-control form-control-sm form-control-user" asp-for="@Model.AdmSearchBydate.PERIODTO" />
                                        </div>
                                    </div>

                                    <div class="MenuSearch" style="text-align:center;padding-top:12px">
                                        <button class="btn btn-sm btn-sm btn-outline-info" type="submit"><i class="glyphicon glyphicon-search"></i> <span>Search</span></button> <span></span>
                                        <button class="btn btn-sm btn-sm btn-outline-warning" onclick="clearSearch()" type="button"><i class="glyphicon glyphicon-refresh"></i>  <span>Clear</span></button> <span></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div class="table-responsive-sm">
                        <table id="dataTable" class="table" style="width:100%">
                            <thead class="thead-light" style="text-align:center">
                                <tr>
                                    <th>Action</th>
                                    <th>Kegiatan</th>
                                    <th>Sumber RAB</th>
                                    <th>Tanggal Kegiatan</th>
                                    <th>Biaya</th>
                                    <th>File Pendukung</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListVWREALISASI_RAB)
                                {
                                    <tr>
                                        <td>
                                            <div>

                                                <form asp-action="DeleteRe" asp-route-id="@item.ID" id="DelRe-@item.ID" method="post">
                                                    <input type="button" class="btn btn-sm btn-sm  cur-p btn-outline-info" data-toggle="modal" data-target="@("#updateRe-"+item.ID)" data-url="@Url.Action($"UpdateRAB/{item.ID}")" value="Update" />
                                                    <input type="button" class="btn btn-sm btn-sm  cur-p btn-outline-secondary" value="Delete" onclick="DeleteRe(@item.ID)" />
                                                </form>
                                            </div>
                                            @await Html.PartialAsync("_UpdateRe",item)
                                        </td>
                                        <td>@item.KEGIATAN</td>
                                        <td>@item.JENIS_RAB</td>
                                        <td>@item.TGL_REALISASI.ToString("dd/MM/yyyy")</td>
                                        <td>@item.BIAYA</td>
                                        <td>
                                            <form asp-action="DownloadFile" asp-route-id="@item.ID" id="DownloadFile" method="post" style="margin-left:3px">
                                                <input type="submit" class="btn btn-sm btn-sm  cur-p btn-outline-success" value="Download" />
                                            </form>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="mdl modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    @*<div class="login_form">*@
                    <form asp-action="AddRe" method="POST" enctype="multipart/form-data">
                        <fieldset>
                            <div class="field_form">
                                <label class="label_field  control-label">Kegiatan</label>
                                <input id="KEGIATAN" asp-for="@Model.REALISASI_RAB.KEGIATAN" type="text" class="form-control form-control-sm form-control-user" required />
                            </div>
                            <div class="field_form">
                                <label class="label_field  control-label">Sumber RAB</label>
                                <select class="form-control form-control-sm form-control-user" asp-items="@ViewBag.ddlSumberRAB" asp-for="@Model.REALISASI_RAB.ID_RAB"></select>
                            </div>
                            <div class="field_form">
                                <label class="label_field  control-label">Tanggal Kegiatan</label>
                                <input type="date" asp-for="@Model.REALISASI_RAB.TGL_REALISASI" class="form-control form-control-sm form-control-user" required />
                            </div>
                            <div class="field_form">
                                <label class="label_field  control-label">Biaya</label>
                                <input id="BIAYA" asp-for="@Model.REALISASI_RAB.BIAYA" type="number" class="form-control form-control-sm form-control-user" required />
                            </div>
                            <div class="field_form">
                                <label class="label_field  control-label">Upload File Pendukung</label>
                                <input id="FILE_UPLOAD" type="file" asp-for="@Model.REALISASI_RAB.PATH" name="FILE_UPLOAD" accept=".doc,.docx,.pdf" class="form-control form-control-sm form-control-user" multiple required />
                            </div>

                        </fieldset>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-sm btn-success">Save</button>
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>

                    @*</div>*@
                    <!-- Modal footer -->
                </div>
            </div>
        </div>
        <!-- end model popup -->
    </div>
</div>

<script type="text/javascript">

    function DeleteRe(ID) {

        if (window.confirm("Delete This Data?")) {
            $('#DelRe-' + ID).submit();
        }

    }

    function clearSearch() {
        ClearDataInDIV("divSearchList");
    }

</script>


